element.style {
    background-color: #111;
}

header {
    display: block;
}

.relative {
    position: relative;
}

.container-x {
    max-width: 1190px !important;
    padding-top: -20px;
}

.h-12 {
    height: 5rem;
}

li {
    display: list-item;
    list-style: none;
    text-align: -webkit-match-parent;
}

.flex-1 {
    flex: 1 1 0%;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.h-full {
    height: 100%;
}

@media (min-width: 1024px) {
    .lg\:pt-0 {
        padding-top: 0;
    }
}

@media (min-width: 1024px) {
    .lg\:flex {
        display: flex;
    }
}

@media (min-width: 401px) {
    .v-position-line-navbar {
        top: -21px;
    }
}

.c-layout-footer.c-layout-footer-3 {
    margin: 0;
    background: black;
    width: 100%;
    height: 460px;
}

.c-layout-footer.c-layout-footer-3 .c-prefooter {
    padding: 80px 0 20px 0;
}

h2 {
    color: #000000;
    font-size: 20px;
    margin: 10px 0;
}

p {
    font-size: 24px;
    color: #ffff;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* footer */

.v-bg-1 {
    background-image: url("https://images.alphacoders.com/618/618250.jpg");
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.list-group-item {
    font-size: 16px;
}


/* .v-bg-navbar-hlw {
    background-image: url("https://images.alphacoders.com/613/thumb-1920-613663.jpg");
} */

.bg-ye {
    background-color: #f2dd07 !important;
    border: 2px solid red;
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 21%;
    }
}

.table {
    margin-bottom: 1rem;
    color: black;
    border-top: 1px solid black;
}

.table-right {
    border-radius: 1%;
    margin-top: 32px;
    padding: 20px;
    color: black;
    margin-bottom: 20px;
    font-size: 18px;
}


/* 
.row {
    margin-bottom: 5%;
} */


/*nav backend*/


/*nav backend*/

th {
    vertical-align: top;
    border-top: 1px solid #000000;
}